@{
    Layout = "_Layout";
}
<!--Bootstrap Datatable-->
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css">
@*<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">*@

<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/forms/select/select2.min.css">
<link href="~/css/jquery.loadingmodal.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/Template/app-assets/css/pages/app-invoice.css">

<!-- BEGIN: Content-->
<!-- Basic table -->
<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">LISTADO DE PI</h4>
                    <div class="col text-center">
                        <button type="button" id="addUser" name="addUser" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPI">
                            Agregar PI
                        </button>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table class="datatables-basic table" id="pi-table">
                            <thead>
                                <tr>
                                    <th>ID Tipo Herraje</th>
                                    <th class="text-truncate">Tipo Herraje</th>
                                    <th>Precio</th>
                                    <th>Tipo Bobina FO</th>
                                    <th class="cell-fit">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Basic table -->

<!-- Modal Agregar PI-->
<div class="modal fade" id="modalAgregarPI" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFullTitle">Detalle de PI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="invoice-add-wrapper">
                    <div class="row invoice-add">
                        <!-- Invoice Add Left starts -->
                        <div class="col-xl-9 col-md-8 col-12">
                            <div class="card invoice-preview-card">
                                <!-- Header starts -->
                                <div class="card-body invoice-padding pb-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="logo-wrapper">
                                                <h3 class="text-primary invoice-logo">Nueva PI</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Nombre de PI: </label>
                                            <div class="mb-1">
                                                <input type="text" id="nombrePI" name="nombrePI" placeholder="Nombre de PI" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Numero de PI: </label>
                                            <div class="mb-1">
                                                <input type="text" id="numPI" name="numPI" placeholder="Numero de PI" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label">Fecha Solicitud</label>
                                                <input id="fechaSolicitud" name="fechaSolicitud" class="form-control" type="date" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label">Fecha OC</label>
                                                <input id="fechaOC" name="fechaOC" class="form-control" type="date" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label">Fecha BodegaGT</label>
                                                <input id="fechaBodegaSucursal" name="fechaBodegaSucursal" class="form-control" type="date" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label" for="first-name-column">Total PI</label>
                                                <input type="text" id="totalPI" name="totalPI" placeholder="Total PI" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label" for="first-name-column">Incurrido</label>
                                                <input type="text" id="incurrido" name="incurrido" placeholder="Incurrido" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-1">
                                                <label class="form-label" for="first-name-column">Pendiente Incurrir</label>
                                                <input type="text" id="pendienteIncurrir" name="pendienteIncurrir" placeholder="Pendiente" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Header ends -->

                                <hr class="invoice-spacing" />


                                <div class="card-body invoice-padding">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-outline-primary col-md-3" data-bs-toggle="modal" data-bs-target="#add-new-customer-sidebar">Agregar FO</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <table class="datatables-basic table" id="pi-table-fo">
                                                        <thead>
                                                            <tr>
                                                                <th>ID Tipo Herraje</th>
                                                                <th class="text-truncate">Tipo Herraje</th>
                                                                <th>Precio</th>
                                                                <th>Tipo Bobina FO</th>
                                                                <th class="cell-fit">Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="note" class="form-label fw-bold">Comentario:</label>
                                        <textarea class="form-control" rows="2" id="comentario" name="comentario"></textarea>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Invoice Add Left ends -->
                        <!-- Invoice Add Right starts -->
                        <div class="col-xl-3 col-md-4 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="text-primary invoice-logo">RESUMEN PI</h3>
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <div class="invoice-total-wrapper">
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Subtotal:</p>
                                                <p class="invoice-total-amount">$1800</p>
                                            </div>
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Discount:</p>
                                                <p class="invoice-total-amount">$28</p>
                                            </div>
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Tax:</p>
                                                <p class="invoice-total-amount">21%</p>
                                            </div>
                                            <hr class="my-50" />
                                            <div class="invoice-total-item">
                                                <p class="invoice-total-title">Total:</p>
                                                <p class="invoice-total-amount">$1690</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Invoice Add Right ends -->
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar PI</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Modal Agregar PI-->

<!-- Add New Customer Sidebar -->
<div class="modal modal-slide-in fade" id="add-new-customer-sidebar" aria-hidden="true">
    <div class="modal-dialog sidebar-lg">
        <div class="modal-content p-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title">
                    <span class="align-middle">Agregar Bobina de FO</span>
                </h5>
            </div>
            <div class="modal-body flex-grow-1">
                <form>
                    <div class="mb-1 position-relative">
                        <label for="customer-country" class="form-label">Seleccione Tipo de Fibra Optica</label>
                        <select class="form-select" id="selectTipoBobinaFO" name="selectTipoBobinaFO">
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-1">
                                <label class="form-label">Distancia</label>
                                <input id="distancia" name="distancia" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-1">
                                <label class="form-label">Cantidad Bobinas</label>
                                <input id="cantidadBobinas" name="cantidadBobinas" class="form-control" type="text" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-1">
                                <label class="form-label">Distancia Bobina</label>
                                <input id="distanciaBobina" name="distanciaBobina" class="form-control" type="text" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-1">
                                <label class="form-label">Precio por Metro</label>
                                <input id="precioUnidadMedida" name="precioUnidadMedida" class="form-control" type="text" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-primary col-md-3">Calcular</button>
                                    </div>
                                    <table class="datatables-basic table" id="pi-table-herraje">
                                        <thead>
                                            <tr>
                                                <th>ID Tipo Herraje</th>
                                                <th class="text-truncate">Tipo Herraje</th>
                                                <th>Precio</th>
                                                <th>Tipo Bobina FO</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer mb-1">
                <div class="mb-1 d-flex flex-wrap mt-2">
                    <button type="button" class="btn btn-primary me-1" data-bs-dismiss="modal">Agregar</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add New Customer Sidebar -->

<!-- END: Content-->

@section Scripts {
    <!-- Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    @*<script src="~/Template/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>*@
    @*<script src="~/Template/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>*@
    @*<script src="~/Template/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>*@
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
@*    <script src="~/Template/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>*@
    <!-- end Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- Mensaje cargando-->
    <script src="~/js/jquery.loadingModal.js"></script>
    <!-- Alertas-->
    <script src="~/js/sweetalert2.all.min.js"></script>

    <!-- Agregar page-->
    <script src="~/Template/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    <!-- END: Page Vendor JS-->
@*    <script src="~/Template/app-assets/js/scripts/pages/app-invoice.js"></script>*@

    <script>

        $(document).ready(function () {

            $('#pi-table').DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" },
                "dom": 'rtip',
                "pageLength": 5,
                "ajax": {
                    "url": "@Url.Action("ListaTiposHerrajes", "Parametrization")",
                    "type": "GET",
                    "dataType": "json"
                },
                "order": [[0, "desc"]],
                columns: [
                    { "data": "idTipoHerraje" },
                    { "data": "tipoHerrajeDesc" },
                    {
                        "render": function (data, type, row) {
                            return row.moneda + row.precio
                        }
                    },
                    {
                        "data": "tipoBobinaFO",
                        "className": "dropdown",
                    },
                    {
                        'defaultContent': null,
                        'render': function (data, type, row) {
                            return '<div class="d-flex"> <button type="button" class="btn btn-icon btn-danger mx-1" id="' + row.idTipoHerraje + '" onclick="EliminarTipo(this.id)" data-toggle="tooltip" data-placement="left" title="Eliminar"> <i class="fa fa-trash-o"></i> </button> </div>'
                        }
                    }
                ],
                initComplete: function () {
                    this.api().columns('.dropdown').every(function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo($("#filtro").empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            $('#pi-table-fo').DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" },
                "dom": 'rtip',
                "pageLength" : 5,
                "ajax": {
                    "url": "@Url.Action("ListaTiposHerrajes", "Parametrization")",
                    "type": "GET",
                    "dataType": "json"
                },
                "order": [[0, "desc"]],
                columns: [
                    { "data": "idTipoHerraje" },
                    { "data": "tipoHerrajeDesc" },
                    {
                        "render": function (data, type, row) {
                            return row.moneda + row.precio
                        }
                    },
                    {
                        "data": "tipoBobinaFO",
                        "className": "dropdown",
                    },
                    {
                        'defaultContent': null,
                        'render': function (data, type, row) {
                            return '<div class="d-flex"> <button type="button" class="btn btn-icon btn-danger mx-1" id="' + row.idTipoHerraje + '" onclick="EliminarTipo(this.id)" data-toggle="tooltip" data-placement="left" title="Eliminar"> <i class="fa fa-trash-o"></i> </button> </div>'
                        }
                    }
                ],
                initComplete: function () {
                    this.api().columns('.dropdown').every(function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo($("#filtro").empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });


            $('#pi-table-herraje').DataTable({
                "language": { "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" },
                "dom": 'rtip',
                "pageLength": 5,
                "ajax": {
                    "url": "@Url.Action("ListaTiposHerrajes", "Parametrization")",
                    "type": "GET",
                    "dataType": "json"
                },
                "order": [[0, "desc"]],
                columns: [
                    { "data": "idTipoHerraje" },
                    { "data": "tipoHerrajeDesc" },
                    {
                        "render": function (data, type, row) {
                            return row.moneda + row.precio
                        }
                    },
                    {
                        "data": "tipoBobinaFO",
                        "className": "dropdown",
                    }
                ],
            });

            cargarSelect();

        });

        function cargarSelect(){
            //Tipos de Bobina de FO
            $.get("@Url.Action("ListaTiposDeBobinaFO","Parametrization")", function (data) {

                $("#selectTipoBobinaFO").empty();

                $.each(data, function (index, row) {
                    $("#selectTipoBobinaFO").append("<option value='" + row.idTipoBobinaFO + "'>" + row.tipoBobinaFODesc + "</option>")

                });
                $("#selectTipoBobinaFO").append("<option selected disabled hidden value='0'>" + "Por Favor Seleccione Tipo de Bobina de FO" + "</option>");
            });
        }

        //FUNCIONES MODAL AGREGAR FO

        //Select cargar datos de fo
        $('#selectTipoBobinaFO').on('change', function () {
            var parametros = JSON.stringify({ idTipoBobinaFO: $("#selectTipoBobinaFO").val() });

            $.ajax({
                url: "@Url.Action("ObtenerTipoBobinaFO", "PI")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: parametros,
                dataType: "json",
                success: function (result) {
                    $("#distanciaBobina").val(result.distanciaBobina);
                    $("#precioUnidadMedida").val(result.precio);
                },
                error: function (result) {
                    //show Alert
                    Swal.fire({
                        title: "HA OCURRIDO UN ERROR",
                        text: "Error en el Servidor" + result.responseText,
                        icon: "error"
                    })
                }
            });
        });

    </script>
}