@model app_ingenieria_ufinet.Models.Inspection.InspectionDoneModel

@{
    Layout = "_Layout";
}
<!--Bootstrap Datatable-->
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css">
@*<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">*@

<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/forms/select/select2.min.css">
<link href="~/css/jquery.loadingmodal.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/Template/app-assets/css/pages/app-invoice.css">

<!-- BEGIN: Content-->
<!-- Basic table -->
<section id="basic-datatable">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Inspeccion @Model.datosIndividuales.IdServicioNuevo</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="IdInspeccionTrabajo">Id Inspeccion Trabajo</label>
                                <input type="text" class="form-control" id="IdInspeccionTrabajo" value="@Model.datosIndividuales.IdInspeccionTrabajo" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="IdServicioNuevo">Id Servicio</label>
                                <input type="text" class="form-control" id="IdServicioNuevo" value="@Model.datosIndividuales.IdServicioNuevo" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Contrata">Contrata</label>
                                <input type="text" class="form-control" id="Contrata" value="@Model.datosIndividuales.Contrata" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Tecnico">Tecnico</label>
                                <input type="text" class="form-control" id="Tecnico" value="@Model.datosIndividuales.Tecnico" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="Ingeniero">Ingeniero</label>
                                <input type="text" class="form-control" id="Ingeniero" value="@Model.datosIndividuales.Ingeniero" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="FechaInspeccion">Fecha Inspeccion</label>
                                <input type="text" class="form-control" id="FechaInspeccion" value="@Model.datosIndividuales.FechaInspeccion" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="UsuarioInspeccion">Usuario Inspeccion</label>
                                <input type="text" class="form-control" id="UsuarioInspeccion" value="@Model.datosIndividuales.UsuarioInspeccion" disabled>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Estado">Estado</label>
                                <input type="text" class="form-control" id="Estado" value="@Model.datosIndividuales.Estado" disabled>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tareas y Respuestas</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pregunta</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Respuesta</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Observación</label>
                                </div>
                            </div>
                        </div>
                        @foreach (var categoria in Model.categorias)
                        {
                            <h4>@categoria.Categoria</h4>
                            <div class="row row-categ">
                                @foreach (var (pregunta, correlativo) in categoria.preguntas.Select((p, i) => (p, i + 1)))
                                {
                                    <div class="row div-pregunta">
                                        <input class="id-categoria-tarea" value="@pregunta.IdCategoriaTarea" hidden />
                                        <input class="id-tarea" value="@pregunta.Tarea" hidden />
                                        <input class="id-respuesta" value="@pregunta.Respuesta" hidden />
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="tarea">@correlativo - @pregunta.Tarea</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="respuesta" style="font-weight:bold">@pregunta.Respuesta</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="observacion form-control" id="observacion">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr />
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12">
                            <button type="button" id="btn-aceptar" name="btn-aceptar" class="btn btn-outline-success">
                                Aceptar
                            </button>
                            <button type="button" id="btn-rechazar" name="btn-rechazar" class="btn btn-outline-danger">
                                Rechazar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Basic table -->
<!-- END: Content-->
@section Scripts {
    <!-- Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <!-- end Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- Mensaje cargando-->
    <script src="~/js/jquery.loadingModal.js"></script>
    <!-- Alertas-->
    <script src="~/js/sweetalert2.all.min.js"></script>

    <!-- Agregar page-->
    <script src="~/Template/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    <!-- END: Page Vendor JS-->
    <script src="~/Template/app-assets/vendors/js/extensions/moment.min.js"></script>

    <script>

        //Cargar Pagina
        $(document).ready(function () {
        });

        $("#btn-aceptar").on('click', function () {
            Swal.fire({
                text: '¿Esta seguro que quiere aceptar la inspección como válida?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-outline-danger ms-1'
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Unsubscribed!',
                        text: 'Your subscription cancelled successfully.',
                        customClass: {
                            confirmButton: 'btn btn-success'
                        }
                    });
                }
            });
        });

        $("#btn-rechazar").on('click', function () {
            Swal.fire({
                text: '¿Esta seguro que quiere rechazar la inspección con los comentarios?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-outline-danger ms-1'
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    var data = [];

                    $(".row-categ").each(function () {
                        var categoria = $(this).prev().text().trim();
                        var preguntas = [];

                        $(this).find(".div-pregunta").each(function () {
                            var preguntaContainer = $(this);
                            var idCategoriaTarea = preguntaContainer.find(".id-categoria-tarea").val();
                            var tarea = preguntaContainer.find(".id-tarea").val();
                            var respuesta = preguntaContainer.find(".id-respuesta").val();
                            var observacion = preguntaContainer.find(".observacion").val();

                            preguntas.push({
                                idCategoriaTarea: idCategoriaTarea,
                                idTarea: tarea,
                                idRespuesta: respuesta,
                                observacion: observacion
                            });
                        });

                        data.push({
                            categoria: categoria,
                            preguntas: preguntas
                        });
                    });

                    var preguntasConObservacion = data.map(function (item) {
                        var preguntasConObservacion = item.preguntas.filter(function (pregunta) {
                            return pregunta.observacion !== "";
                        });

                        return {
                            categoria: item.categoria,
                            preguntas: preguntasConObservacion
                        };
                    }).filter(function (item) {
                        return item.preguntas.length > 0;
                    });

                    if (Array.isArray(preguntasConObservacion) && preguntasConObservacion.length > 0) {
                        var request = {
                            IdInspeccionTrabajo: $("#IdInspeccionTrabajo").val(),
                            categorias: preguntasConObservacion
                        };

                        $.ajax({
                            url: "@Url.Action("CrearSupervision", "Inspection")",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            data: request,
                            dataType: "json",
                            success: function (result) {
                                //show Alert
                                Swal.fire({
                                    title: 'Crear Supervisión',
                                    text: result.mensaje,
                                    icon: result.tipo
                                })

                                //hidemodal loading
                                $('body').loadingModal('destroy');
                            },
                            error: function (result) {
                                Swal.fire({
                                    title: 'Crear Supervisión',
                                    text: result.Mensaje,
                                    icon: result.Tipo
                                })
                                //hidemodal loading
                                $('body').loadingModal('destroy');

                            }
                        });


                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Rechazar',
                            text: 'No es posible rechazar no hay ninguna observación',
                            customClass: {
                                confirmButton: 'btn btn-success'
                            }
                        });
                    }

                }
            });
        });

    </script>
}